// backend urls
REACT_APP_BASE_API_DEV=
REACT_APP_BASE_API_RELEASE=

// website urls
REACT_APP_BASE_URL_DEV=
REACT_APP_BASE_URL_RELEASE=

// email js
REACT_APP_EMAIL_SERVICE=
REACT_APP_EMAIL_TEMPLATE=
REACT_APP_EMAIL_SECRET=

// dev url
REACT_APP_DEV_URL=